@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: hsl(217, 54%, 11%);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*hsl(215, 32%, 27%)  hsl(216, 50%, 16%)*/
.all {
    background: hsl(216, 50%, 16%);
    width: 270px;
    height: 470px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.5);*/
    box-shadow: 2px 10px 10px 20px rgba(11, 20, 34, 0.5);
}

.img {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 12px;
}

/*.img :hover {
    background: hsl(178, 100%, 50%);
    border: red solid;
    cursor: pointer;
}*/

.info {
    padding: 15px;
}

.info h2 {
    color: hsl(0, 0%, 100%);
    padding-bottom: 15px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
}

.info h2 :hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.info p {
/*    color: hsl(178, 100%, 50%); etherneum*/ 
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.view {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 20px 15px;
    text-align: center;
    align-items: center;
}

.view .ethereum {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 13px;
    display: flex;
}

.view .days-left {
    text-align: center;
    color: hsl(215, 51%, 70%);
    font-size: 13px;
    display: flex;
    text-align: center;
}

svg {
    margin-right: 6px;
}

.linha {
    width: 90%;
    height: 1px;
    border: 0px;
    border-top: 1px solid hsl(217, 25%, 31%, 1);
    background-color: #dddddd;
    display: flex;
    margin-left: 5%;
}

/*hr {
    display: flex;
	width: 30%;
	text-align: center; /* Para o IE */
	/*margin: 0 auto 0 0; /* Para navegadores standard */
/*}*/


.avatar {
    display: flex;
    align-items: center;
    padding: 15px 15px 12px 15px;
}

.avatar img {
    margin-right: 12px;
    border: hsl(0, 0%, 100%) solid 0.2px;
    border-radius: 100px;
}

.avatar p {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.avatar span {
    color: hsl(0, 0%, 100%);
}

p span :hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution {
    margin-top: 12px;
    color: hsl(214, 9%, 31%);
}

.attribution a {
    text-decoration: none;
    color: hsl(215, 23%, 84%);
}
